/**
320px - Mobile S
375px - Mobile M
425px - Mobile L
768px - Tablet
1024px - Laptop
1440px - Laptop L
2560 - 4K
*/

/**
- TOOLS GRID
*/

/**
- BODY
- HEADER
- SECTIONS
  - LANDING SECTION
  - WORK SECTION
- COLUMNS
- CONTACT PAGE
*/
/** 1024px */
@media screen and (min-width: 64em) {
  /** BODY */
  body {
    min-height: 100vh;
    margin: 0;
  }

  /** HEADER */
  header {
    position: sticky;
    top: 0;

    background-color: var(--base);
    box-shadow: var(--shadow);

    z-index: 1;
  }

  header.expanded {
    margin: 1rem;

    background: none;
    box-shadow: none;
  }

  div.header {
    margin: 0;
  }

  div.header a:hover,
  div.header a:focus {
    border-radius: 0;
  }

  header.expanded a:hover,
  header.expanded a:focus {
    border-radius: 0.5rem;
  }

  div.nav {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 7rem;
  }

  div.nav button {
    display: none;
  }

  nav {
    background: none;
    border-radius: 0;
    box-shadow: none;
  }

  nav.collapsed {
    display: block;
  }

  header ul {
    display: flex;
  }

  header li + li {
    border: none;
  }

  /** SECTIONS */
  section {
    max-width: 120rem;
    margin: auto;
    padding: 8rem;
  }

  /** LANDING SECTION */
  section.landing {
    min-height: auto;
  }

  /** WORK SECTION */
  section.work {
    padding: 8rem 0;
  }

  section.work article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  section.work figure {
    margin: 1rem 1rem 1rem 0;

    border-width: 0.0625rem 0.0625rem 0.0625rem 0;
  }

  /* create class name */
  section.work article > div {
    margin-right: 8rem;
  }

  /** COLUMNS */
  div.col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /** CONTACT PAGE */
  section.contact h1 {
    margin-bottom: 0;
  }
}

/**
- COLUMNS
*/
/** 1280px */
@media screen and (min-width: 80em) {
  /** COLUMNS */
  div.col2 {
    grid-template-columns: 2fr 1fr;
  }
}

/**
SECTIONS
*/
/** 1921px */
@media screen and (min-width: 120.0625em) {
  /** SECTIONS */
  section.work figure {
    border-width: 0.0625rem;
  }
}

/** TOOLS GRID */
/** 420px */
@media screen and (min-width: 26.25em) {
  div.tools {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** 528px */
@media screen and (min-width: 33em) {
  div.tools {
    grid-template-columns: repeat(4, 1fr);
  }
}

/** 742px */
@media screen and (min-width: 46.375em) {
  div.tools {
    grid-template-columns: repeat(6, 1fr);
  }
}

/** 1902px */
@media screen and (min-width: 118.875em) {
  div.tools {
    grid-template-columns: repeat(12, 1fr);
  }
}
